<!DOCTYPE html>
<html lang="en">
    <%- include ('header')%>
<body>
    <!-- sidebar -->
    <%- include('sidebar')%>
    <!-- sidebar -->
    <div class="main-content">

        <!-- Navbar -->
        <%- include('navbar')%>
        <!-- Navbar -->
        <main>
            <!-- content -->
            <div class="container"><%- include(content)%></div>
            <!-- content -->
        </main>
        
</div>
</body>
</html>