<div class="cards">
    <a href="/dashboard/users" class="card-single">
      <div>
        <h1><%=numOfUser%></h1>
        <span>Users</span>
      </div>
      <div>
        <span class="las la-users"></span>
      </div>
    </a>
    <a href="/dashboard/viewApartment" class="card-single">
      <div>
        <h1><%=numOfPost%></h1>
        <span>Apartments</span>
      </div>
      <div>
        <span class="las la-users"></span>
      </div>
    </a>
    <div class="card-single">
      <div>
        <h1>65</h1>
        <span>Comments</span>
      </div>
      <div>
        <span class="las la-clipboard-list"></span>
      </div>
    </div>
  </div>
  <script>
    const $ = document.querySelector.bind(document)
    $(".sidebar-menu_dashboard").classList.add("active");
</script>