<!-- Header section -->
<header class="main-header">
    <div class="main-header">
      <h3>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Dream Boarding House
      </h3>
  
      <div class="search-wrapper">
        <span class="las la-search"> </span>
        <input type="search" placeholder="Search here" />
      </div>
  
      <div class="user-wrapper">
        <img
          src="https://hellohoa.com/wp-content/uploads/2019/01/cuc-hoa-mi-no-trong-ngay-dong.jpg"
          width="40px"
          height="40px"
          alt=""
        />
        <div>
          <h4>Admin group</h4>
          <!-- <small>Super admin</small> -->
        </div>
      </div>
    </div>
  </header>
  <!-- End header -->
  