<div class="upload">
   <div class="row">
      <div class="col-md-9">
         <form action="/dashboard/upload/post" method="POST" enctype="multipart/form-data">
            <div class="card mb-3">
               <div class="card-header">
                  <h4>Đăng tin</h4>
               </div>
               <div class="card-body">
                  <h4 style="margin-top: 10px">Khu Vực</h4>
                  <div class="form-group">
                     <h6>Miền</h6>
                     <select name="region" id="" class="form-control">
                        <option value="" disabled hidden selected>Miền</option>
                        <option value="Miền Bắc">Miền Bắc</option>
                        <option value="Miền Trung">Miền Trung</option>
                        <option value="Miền Nam">Miền Nam</option>
                     </select>
                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="form-group mt-2 mr-3" id="select-city">
                              <h6 for="">Thành phố</h6>
                              <input type="Thành phố" name="city" placeholder="Thành phố" id="" class="form-control" />
                           </div>
                           <div class="form-group mt-2 mr-3 ml-3" id="select-district">
                              <h6 for="">Quận / Huyện</h6>
                              <input class="form-control" type="" name="district" placeholder="Quận/Huyện" id="" />
                           </div>
                           <div class="form-group mt-2 ml-3" id="select-ward">
                              <h6 for="">Phường / Xã</h6>
                              <input class="form-control" type="" name="ward" placeholder="Phường/Xã" id="" />
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-9 d-flex">
                           <div class="form-group mt-2 mr-3" id="select-beach">
                              <h6 for="">Bãi biển</h6>
                              <input class="form-control" type="" name="beach" placeholder="Bãi biển" id="" />
                           </div>
                           <div class="form-group mt-2 ml-3 mr-3">
                              <h6 for="">Số nhà</h6>
                              <input
                                 type="Địa Chỉ"
                                 name="address"
                                 placeholder="Số nhà, tên đường"
                                 id=""
                                 class="form-control"
                              />
                           </div>
                        </div>
                     </div>
                  </div>

                  <div style="margin-top: 20px">
                     <h4 class="">Thông tin mô tả</h4>
                     <div class="form-group" style="padding-top: 10px">
                        <h6>Tiêu đề</h6>
                        <input
                           class="form-control"
                           type="Tiêu đề"
                           name="heading"
                           placeholder="Tiêu đề ngắn gọn, dễ hiểu, không dài quá 100 kí tự."
                           id=""
                        />
                     </div>
                     <div class="form-group" style="padding-top: 10px">
                        <h6>Mô tả</h6>
                        <textarea
                           class="form-control"
                           type="Nội dung mô tả"
                           name="description"
                           placeholder="Nội dung mô tả phải có ít nhất 150 kí tự và không được dài quá 5000 kí tự."
                           id=""
                           rows="10"
                           cols="80"
                           style="font-size: 14px; border: 1px solid black; padding: 10px"
                        ></textarea>
                     </div>
                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="col-md-4">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Giá căn hộ</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="price"
                                    placeholder="Nhập giá (đơn vị: VNĐ)"
                                    id="price"
                                    value=""
                                 />
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Diện tích căn hộ</h6>
                                 <input
                                    class="form-control"
                                    type="Nhập diện tích"
                                    name="acreage"
                                    placeholder="Nhập diện tích (m&sup2)"
                                    id=""
                                 />
                              </div>
                           </div>
                           <div class="col-md-4">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Giá cho thuê phòng</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="rentalRate"
                                    placeholder="Nhập giá cho thuê"
                                    id=""
                                 />
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-group ml-3 mr-3">
                        <h6 style="padding-top: 10px">Tỷ lệ full phòng</h6>
                        <input
                           class="form-control"
                           type="number"
                           name="fullRoom"
                           placeholder="Nhập phần trăm full phòng"
                           id=""
                        />
                     </div>

                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Chính sách chiết khấu thanh toán(Thường)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentDiscount"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Các chiết khấu khác(Thường)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentOther"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Chính sách chiết khấu thanh toán(70%)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentDiscount70"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Các chiết khấu khác(70%)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentOther70"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                        <div class="col-md-12 d-flex">
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Chính sách chiết khấu thanh toán(90%)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentDiscount90"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group">
                                 <h6 style="padding-top: 10px">Các chiết khấu khác(90%)</h6>
                                 <input
                                    class="form-control"
                                    type="number"
                                    name="percentOther90"
                                    placeholder="Nhập phần trăm"
                                 />
                              </div>
                           </div>
                        </div>
                     </div>
                     <!-- <div class="row">
                        <div class="col-md-12">
                           
                        </div>
                     </div> -->
                     <div class="form-group" id="show">
                        <h6 style="padding-top: 10px">Phần trăm đóng theo đợt</h6>
                        <select class="" id="selectBox" onchange="changeFunc(value);">
                           <option class="option" disabled hidden selected>0</option>
                           <option class="option" value="1">1</option>
                           <option class="option" value="2">2</option>
                           <option class="option" value="3">3</option>
                           <option class="option" value="4">4</option>
                           <option class="option" value="5">5</option>
                           <option class="option" value="6">6</option>
                           <option class="option" value="7">7</option>
                           <option class="option" value="8">8</option>
                           <option class="option" value="9">9</option>
                           <option class="option" value="10">10</option>
                        </select>
                        <div class="show-option"></div>
                     </div>
                     <div class="form-group">
                        <h6 for="formFileMultiple" style="padding-top: 10px">Chọn ảnh phòng</h6>
                        <input class="form-control" name="files" type="file" id="formFileMultiple" multiple />
                     </div>
                  </div>
               </div>
               <div class="card-footer">
                  <div class="buttons-container form-group">
                     <input type="submit" value="Đăng Tải" class="btn btn-primary font-size: 20px" />
                     <a href="/dashboard/viewApartment" type="button" class="btn btn-danger font-size: 20px">
                        Hủy bỏ
                     </a>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
<script>
   const $ = document.querySelector.bind(document);
   const $$ = document.querySelectorAll.bind(document);
   $('.sidebar-menu_upload').classList.add('active');

   function dele(value) {
      const deleelemeent = document.getElementById('list_dot');
      const buttonDele = document.getElementById('buttonDele');
      buttonDele.remove();
      deleelemeent.remove();
   }

   function deleOption() {
      var htmlObj = $('.show-option');
      htmlObj.innerHTML = '';
   }

   function changeFunc(value) {
      if (value) {
         deleOption();
      }
      var htmlObj = $('.show-option');
      for (let index = 0; index < Number(value); index++) {
         htmlObj.innerHTML =
            htmlObj.innerHTML +
            `<div > Phần trăm của đợt ${index + 1} </div>` +
            `<input class ='form-control' type='phần trăm' name='phase' placeholder='% ' id='list_dot'/> `;
      }
   }
</script>
