
    <!-- CONTENT  -->
    <section class="content">
      <div class="content-header"></div>
      <div class="content__body active ">
        <div class="card">
          <div class="card-header bg-primary ">
            <h4>Quản lý tài khoản</h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Email</th>
                  <th>Sdt</th>
                  <th>Name</th>
                  <th class="center">Action</th>
                </tr>
              </thead>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
              <tbody>
                <th>1</th>
                <td>minhdz142001@gmail.com</td>
                <td>0565758488</td>
                <td>Minh</td>
                <td><button class="btn btn-danger" data-toggle="modal" data-target="#deleModalAcoount">Delete</button></td>
              </tbody>
            </table>
          </div>
          
        </div>
         <!-- DELETE modal  -->
          <!-- Modal -->
          <div class="modal fade" id="deleModalAcoount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-primary">
                  <h5 class="modal-title" id="exampleModalLabel">Delete upload</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Tài khoản</th>
                      </tr>
                    </thead>
                    <tbody>
                      <th>1</th>
                      <td>minhdz142001@gmail.com</td>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
      </div>

  <script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    const navs = $$(".list__nameNav");
    const content__bodys = $$(".content__body");

    const contentActive = $(".content__body.active");

    navs.forEach((nav, index) => {
      const content = content__bodys[index];
      nav.onclick = function () {
        $(".list__nameNav.active").classList.remove("active");
        $(".content__body.active").classList.remove("active");

        this.classList.add("active")
        content.classList.add("active")
      }

    });


  </script>



