<link rel="stylesheet" href="styles/search.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<div class="search">
    <div style="text-align: center ;font-size :30px;font-weight :bold;padding: 7px;" class="search-title">
        TÌM KIẾM THEO YÊU CẦU

    </div>
  <div class="search-form">
    <div class="search-form__top">
        <input class="search-form__input" placeholder="Tìm nhanh ( Tên căn hộ )">
        <div class="search-form__button">
            <div class="text-sea">
                 Search 
            </div>
            <i style="color: white;" class='bx bx-search-alt'></i> 
        </div>
    </input> 
    </div>
    <div class="search-advanced">
        <div class="advanced__main">
            
            <div class="input-select">
                <select class="custom-select" name="region" id="region">
            <option value="" selected>Miền</option>
            <option value="">Miền Bắc</option>
            <option value="">Miền Trung</option>
            <option value="">Miền Nam</option>
            </select>
            </div>
            <div class="input-select">
                <select class="custom-select" name="price" id="price">
            <option value="" selected>Tài chính của bạn</option>
            <option value="500000">500.000.000 đồng</option>
            <option value="1000000">1.000.000.000 đồng</option>
            <option value="2000000">2.000.000.000 đồng</option>
            <option value="5000000">5.000.000.000 đồng</option>
            </select>
            </div>
            <div class="input-select">
                <select class="custom-select" name="acreage" id="acreage">
            <option value="" selected>Diện tích căn hộ</option>
            <option value="30">30 m2</option>
            <option value="40">40 m2</option>
            <option value="60">60 m2</option>
            <option value="80">80 m2</option>
            <option value="100">Trên 100 m2</option>
            </select>
            </div>
        </div>
        <div class="advanced__button"></div>
    </div>
            <!-- </form> -->
  </div>
</div>