<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/error.css" />
      <title>Error</title>
   </head>
   <body>
      <section>
         <div class="errorMain">
            <div class="errorBackground">
               <img src="https://dumacollective.com/wp-content/uploads/2017/07/Duma-Collective-07-1.jpg" alt="" />
            </div>
            <div class="errorContent">
               <h1 class="title_text_err">404</h1>
               <h3 class="desc_text_err">bạn không thể truy cập trang này</h3>
               <a href="/" class="button_err">Back Home</a>
            </div>
         </div>
      </section>
   </body>
</html>
