
<link rel="stylesheet" href="styles/header.css"/>
<!-- <link rel="stylesheet" href="styles/base.css"> -->
<header class="site-header">
        <div class="site-identity">
            <a href="#">
                <div class="logo-name">REAS</div>
            </a>
        </div>
        <div class="site-navigation">
            <ul class="nav-header">
                <li><a href="/">TRANG CHỦ</a></li>
                <li><a href="/room/post">ĐĂNG TIN</a></li>
                <li><a href="/innkeeper/myRoom/all">QUẢN LÝ BÀI ĐĂNG</a></li>
                <li><a href="/favoriteList/rooms">DANH SÁCH YÊU THÍCH</a></li>
                <li><a href="/profile">THÔNG TIN CÁ NHÂN</a></li>                
            </ul>
        </div>
        <div class="site-log">
            <li><a href="/login" class="nav-link">Đăng nhập</a></li>
            <li class="separate"></li>
            <li><a href="/register" class="nav-link">Đăng ký</a></li>
        </div>
        
</header>