<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
</head>

<body>
    <h2 class="title">Bảng Phân Tích Tài Chính</h2>

    <table class="table">
        <thead>
            <tr class="kkkk">
                <th>DANH MỤC</th>
                <th>ĐƠN VỊ (%)</th>
                <th>ĐƠN VỊ (vnd)</th>
                <th>THUẾ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span> GIÁ NIÊM YẾT </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <h3><%= apartment.price %></>
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> CHÍNH SÁCH CHIẾT KHẤU THANH TOÁN </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> CÁC CHIẾT KHẤU KHÁC </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> TỔNG SỐ TIỀN CHIẾT KHẤU </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> TỔNG GIÁ TRỊ CHIẾT KHẤU </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

    <h2 class="title">TIẾN ĐỘ THANH TOÁN</h2>

    <table class="table">
        <thead>
            <tr class="kkkk">
                <th>TIẾN ĐỘ</th>
                <th>TỶ LỆ</th>
                <th>SỐ TIỀN THANH TOÁN</th>
                <th>THỜI HẠN THANH TOÁN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span>  Đợt 1 </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>  Đợt 2 </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>  Đợt 1 </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
                <tr>
                    <td>
                        <span>  Đợt 1 </span>
                    </td>
                    <td>
                        <div class="form-group mb-0 d-inline-block">
                            <input type="text" name="percent" class="form-control form-inline">
                        </div>
                    </td>
                    <td>
                        <div class="form-group mb-0 d-inline-block">
                            <input type="text" name="percent" class="form-control form-inline">
                        </div>
                    </td>
                    <td>
                        <div class="form-group mb-0 d-inline-block">
                            <input type="text" name="percent" class="form-control form-inline">
                        </div>
                    </td>
        </tbody>
    </table>

    <h2 class="title">Bảng Tính lợi nhuận</h2>

    <table class="table">
        <thead>
            <tr class="kkkk">
                <th>CHI TIẾT</th>
                <th>TIỀN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <span> TỈ LỆ FULL PHÒNG / THÁNG </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> GÍA CHO THUÊ PHÒNG </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>  QUY ĐỔI VOUCHER </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span> CHI PHÍ SỬA CHỮA </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    <span> CHIA SẺ LỢI NHUẬN </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    <span> LỢI NHUẬN THU VỀ TRÊN THÁNG </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    <span>LỢI NHUẬN THU VỀ/THÁNG (Sau Khi Trừ Chi Phí) </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    <span> LỢI NHUẬN THU VỀ TRÊN NĂM </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>
                <td>
                    <span> LỢI NHUẬN THU VỀ SAU 10 NĂM </span>
                </td>
                <td>
                    <div class="form-group mb-0 d-inline-block">
                        <input type="text" name="percent" class="form-control form-inline">
                    </div>
                </td>


            </tr>
            <tr>


    </table>

</body>

</html>