<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="./style/view_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" >
</head>
<body>
    <div class="header">

    </div>
   <div class="container">
        <div class="main">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="title-info-1">Personal page</h6>
                            </div>
                            <div class="card-body">
                                <div class="info">
                                    <div class="avatar"></div>
                                    <p class="info-name"><b>Vo Dai Minh</b></p>
                                    <p class="info-name">Mã hồ sơ : 100000</p>
                                </div>
                                <div class="manager">
                                    <div class="manager-info">
                                        <label class="manager-info-title" for="">Manager personal page</label>
                                        <ul>
                                            <li><a class="manager-posts-link" href="./profile.html">Change personal page</a></li>
                                            <li><a class="manager-posts-link" href="">Change password</a></li>
                                        </ul>
                                    </div>
                                    <div class="manager-finacial">
                                        <label class="manager-info-title" for="">Financial management</label>
                                        <ul>
                                            <li> <a class="manager-posts-link" href="">Balance information</a> </li>
                                            <li> <a class="manager-posts-link" href="">Transaction history</a> </li>
                                            <li> <a class="manager-posts-link" href="">Promotion group</a> </li>
                                        </ul>
                                    </div>
                                    <div class="tienich">
                                        <label class="manager-info-title" for="">Utilities</label>
                                        <ul>
                                            <li> <a class="manager-posts-link" href="">Notify</a> </li>
                                            <li> <a class="manager-posts-link" href="">Manage email subscriptions</a> </li>
                                            <li> <a class="manager-posts-link" href="">Request to lock your account</a> </li>
                                        </ul>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="title-info-2">Change Password</h6>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    
                                    <tbody >
                                        <tr>
                                            <td> Current Password <span style="color: red;" >(*)</span></td>
                                            <td><input class="form-control" type="text"></td>
                                        </tr>
                                        <tr> 
                                            <td> Password </td>
                                            <td><input class="form-control" type="text"></td>
                                        </tr>
                                        <tr> 
                                            <td> Re-Password </td>
                                            <td><input class="form-control" type="text"></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary ">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
   </div>
</body>
</html>