<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="fonts/fontawesome/css/all.min.css">
    <title> <%= title %> </title>
</head>
<body>
    <%- include('../layouts/header')%>
        <img src="https://img.gtsstatic.net/reno/imagereader.aspx?imageurl=https%3A%2F%2Fstatic-christiesrealestate-cms-production.gtsstatic.net%2Fresources%2Fv_4_19_0_324%2Fsiteresources%2Fmy%20folder%2Fresponsive%2Flifestyles%2Fbeach%2Fchelston10.jpg&option=N&permitphotoenlargement=false&w=1200&fallbackimageurl=https%3A%2F%2Fstatic-christiesrealestate-cms-production.gtsstatic.net%2Fresources%2Fv_4_19_0_324%2Flayouts%2Fcommon%2Fimages%2Fno-photo.jpg" alt="" class="img-header">
    <div class="grid wide container">
        <section class="intro row">
            <div class="col l-6">
                <img src="https://m.media-amazon.com/images/I/71uqnElo1+L.jpg" alt="" class="intro-img">
            </div>
            <div class="col l-6">
                <div class="intro__group">
                    <h2 class="intro-title">Giới thiệu</h2>
                    <h3 class="intro-text">Bất động sản nghỉ dưỡng là mô hình bất động sản được xây dựng tại khu nghỉ dưỡng, khu du lịch, bao gồm biệt thự trên đồi, biệt thự biển, căn hộ khách sạn, mini hotel, shophouse…. sau đó bán lại cho những cá nhân, tổ chức có nhu cầu đầu tư. Bất động sản nghỉ dưỡng được xây dựng nên với mục đích phục vụ khách du lịch, cung cấp dịch vụ lưu trú, thương mại… mang đến những trải nghiệm thú vị và tiện ích hấp dẫn cho du khách.</h3>
                    <div class="intro__secondary">
                        <img src="https://cdn.homedsgn.com/wp-content/uploads/2013/06/Beach-House-17-0-800x529.jpg" alt="" class="intro__secondary-img">
                    </div>
                </div>
            </div>
        </section>
        <section class="regions">
            <div class="northern space">
                <div class="region__heading">
                    <h3 class="region__name">Miền Bắc</h3>
                    <a href="" class="region__link">Tất cả</a>
                </div>
                <div class="list-apartment">
                    <div class="row">

                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <a href="" class="apartment-detail">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <a href="" class="apartment-detail">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <a href="" class="apartment-detail">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <a href="" class="apartment-detail">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <div class="infor-item"></div>
                                    <a href="" class="apartment-detail">Xem chi tiết</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="central space">
                <div class="region__heading">
                    <h3 class="region__name">Miền Trung</h3>
                    <a href="" class="region__link">Tất cả</a>
                </div>
                <div class="list-apartment">
                    <div class="row">

                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="information">
                                    <div class="infor-item"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="southern space">
                <div class="region__heading">
                    <h3 class="region__name">Miền Nam</h3>
                    <a href="" class="region__link">Tất cả</a>
                </div>
                <div class="list-apartment">
                    <div class="row">

                        <div class="col l-3">
                            <div class="apartment-item">
                                <div class="apartment-image">
                                    <img src="https://media-e1.s3.amazonaws.com/brt/styles/large/s3/snippets/snip_6.png" alt="">
                                </div>
                                <div class="information">
                                    <div class="infor-item"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>   
    </section>
    </div>
    <%- include('../layouts/footer')%>
</body>
</html>