<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/post.css">
    <link rel="stylesheet" href="styles/base.css">
    <title>Post Apartment</title>
</head>
<body>
    <%- include('../layouts/header')%>
    <div class="grid wide container">
        <div class="main">
            <div class="row post-address">
                <div class="col l-6">
                    <h1>Khu vực</h1>
                    <h3>Vùng miền</h3>
                    <select name="" id="">
                        <option value="">Miền Bắc</option>
                        <option value="">Miền Trung</option>
                        <option value="">Miền Nam</option>
                    </select>
                </div>
                <div class="col l-6">
                    <h1>Khu vực</h1>
                    <h3>Vùng miền</h3>
                    <select name="" id="">
                        <option value="">Miền Bắc</option>
                        <option value="">Miền Trung</option>
                        <option value="">Miền Nam</option>
                    </select>
                </div>
                <div class="col l-6">
                    <h1>Khu vực</h1>
                    <h3>Vùng miền</h3>
                    <select name="" id="">
                        <option value="">Miền Bắc</option>
                        <option value="">Miền Trung</option>
                        <option value="">Miền Nam</option>
                    </select>
                </div>
                <div class="col l-6"></div>
                <div class="col l-12">
                    <h1>Khu vực</h1>
                    <h3>Vùng miền</h3>
                    <select name="" id="">
                        <option value="">Miền Bắc</option>
                        <option value="">Miền Trung</option>
                        <option value="">Miền Nam</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</body>
</html>