<header class="main-header">
   <div class="main-header">
      <h2>
         <label for="nav-toggle">
            <span class="las la-bars"></span>
         </label>
         <a class="home__page" href="/"> Real Estate Resort Analysis Support System </a>
      </h2>
      <div class="hello__user">
         Xin chào<br />
         <%= user.fullname %>
      </div>
   </div>
</header>
