<!-- Header section -->
<header class="main-header">
    <div class="main-header">
      <h2>
        <label for="nav-toggle">
          <span class="las la-bars"></span>
        </label>
        Real Estate Resort Analysis Support System
      </h2>  
      <div class="search-wrapper">
        <span class="las la-search"> </span>
        <input type="search" placeholder="Search here" />
      </div>
    </div>
  </header>
  <!-- End header -->
  