.center1 {
   margin-top: 20px;
   font-size: 20px;
   float: left;
}

.center1 .btn-success {
   text-align: center;
   padding: 11px 23px;
}

.title {
   justify-content: center;
   align-items: center;
   display: flex;
   height: 100%;
   font-size: 28px;
   font-weight: 400;
   padding: 15px;
   margin: 15px;
   font-weight: bold;
}

.login-form {
   width: 100%;
   max-width: 400px;
   margin: 20px auto;
   background-color: #ffffff;
   padding: 15px;
   border: 2px dotted #cccccc;
   border-radius: 10px;
}

.input-box {
   margin-bottom: 10px;
}
.input-box label {
   font-size: 14px;
   font-weight: 400;
}
.input-box output {
   /* padding: 15px 100px; */
   width: 100%;
   display: block;
}

.form-control2 {
   display: block;
   width: 100%;
   font-size: 1.4rem;
   height: calc(1.5em + 0.75rem + 2px);
   padding: 0.375rem 0.75rem;
   font-weight: 400;
   line-height: 1.5;
   color: #0d0d0e;
   background-color: #f1eeee;
   background-clip: padding-box;
   border: 1px solid #f6f5f5;
   border-radius: 0.25rem;
   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-inline {
   display: inline-block;
   width: auto;
}

.table {
   border-collapse: collapse;
   width: 100%;
   border: 1px solid #000 !important;
   color: #f6f8f9;
   border: center;
}

.table1 {
   width: 70%;
   margin: auto;
}

.kkkk {
   background: #499fcb;
}

.table td,
.table th {
   white-space: nowrap;
   /* padding: 10px 15px; */
   vertical-align: top;
   border: 1px solid #000;
}

.table thead tr th {
   font-weight: bold;
   vertical-align: bottom;
   padding: 10px 15px;
   font-size: 13px;
}

.table tbody tr td {
   color: #4c4c4c;
   font-size: 13px;
   font-weight: 400;
   vertical-align: middle;
   padding: 10px;
   max-height: 54px;
}

th {
   text-align: inherit;
}

.form-group {
   color: #0c0c0c;
   margin-bottom: 20px;
   font-size: 15px;
}
.center {
   width: 100%;
   height: 65px;
   text-align: center;
   display: flow-root;
}
.btn-success {
   margin-top: 20px;
   display: flexbox;

   height: 40px;
   padding: 0 15px;
   background: #007aff !important;
   border-radius: 3px;
   font-size: 14px;
   color: #fff;
   transition: all 0.2s ease-out, color 0.2s ease-out;
   border: 0;
   font-weight: bold;
   cursor: pointer;
}

.form-ptich {
   text-align: center;
}
.login-form h1 {
   margin-bottom: 15px;
}
.input-box i {
   margin-bottom: 10px;
}
.input-box output {
   /* margin-top: 10px; */
   margin-bottom: 15px;
}
.form-control {
   /* margin-top: 10px;
    margin-bottom: 15px; */
}
.input-box-outputPrice {
   font-weight: 600;
   font-size: 15px;
}
