* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  li {
    text-decoration: none;
    list-style: none;
  }
  input{
    border: none;
    outline: none;
  }

  .favorite__main {
    margin: 5rem 0;
  }
  .favorite__container {
    padding: 0 10rem;
  }
  
  .favorite__container__card__inner_avatar {
    border-radius: 50%;
    width: 50px;
  }
  
  .buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .button__delete_favorite {
    color: #fff;
    background: #dc3545;
    border: none;
    padding: 6px 20px;
    border-radius: 7px;
  }
  .button__delete_favorite:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  }
  