* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

li {
   text-decoration: none;
   list-style: none;
}
input {
   border: none;
   outline: none;
}

.favorite__main {
   margin: 5rem 0;
}
.favorite__container {
   padding: 0 10rem;
}

.favorite__container__card__inner_avatar {
   border-radius: 50%;
   width: 50px;
}

.buttonDiv {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-right: 15px;
   white-space: nowrap;
}
.button__delete_favorite {
   color: #fff;
   background: #dc3545;
   border: none;
   padding: 6px 15px;
   border-radius: 7px;
}
.btn-view-detail {
   padding: 5px 7px;
   color: black !;
   font-size: 16px;
   margin-right: 15px;
}
.button__delete_favorite:hover {
   color: #fff;
   background-color: #c82333;
   border-color: #bd2130;
}
.img-thumbnail {
   padding: 0.25rem;
   background-color: #fff;
   border: 1px solid #dee2e6;
   border-radius: 0.25rem;
   max-width: 100%;
   height: 100% !important;
}
