

.footer{
  display: flex;
  width: 100%;
  height: 300px;
  background: #1B1D32;
}

.card{
  width: 80%;
  height: 80%;
  background-color: white;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
}

.secContent{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.contentLeft{
  display: flex;
  /* justify-content: center; */
  width: 30%;
  height: 100%;
  flex-direction: column;
  padding: 20px 100px 0px 100px;
}

.logo{
  font-size: 3rem;
  margin-bottom: 10px;
  margin-left: 50px;
}

.contentLeft__text{
  width: 100%;
  height: 100%;
}

.address{
  margin: 5px 0;
}
.address i{
  font-size: 16px;
  margin-right: 10px;
}
.address span{
  font-size: 15px;
}

.phone{
  margin: 10px 0;
}

.phone i{
  font-size: 16px;
  margin-right: 10px;
}
.phone span{
  font-size: 15px;
}

.contact{
  margin-top: 20px;
  font-size: 18px;
  display: flex;
}
.contact__icon{
  padding: 5px 20px;
}
.contact__icon:hover{
  cursor: pointer;
  opacity: 0.4;
}

.contentRight{
    display: flex;
    margin: 0px 50px 0 10px ;
}
.contentRight h6{
  font-weight: 400;
  font-size: 20px;
}
.contentRight li{
  margin: 10px 0;
  font-size: 14px;
}
.contentRight li:hover{
  opacity: 0.7;
  cursor: pointer;
}

.contentRight_2{
  display: flex;
  flex-direction: column;
  margin: 0px 0px 20px 10px ;
  height: 20px;

}
.contentRight_2 h6{

}
.inputDiv{
  margin-top: 30px;
  padding: 5px 10px;
  border: 1px solid #D1D1D1;
  border-radius:10px ;
}

.inputDiv input{
  font-size: 18px;
}
.send_icon{
  font-size: 16px;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  background-color: red;
  border-radius: 4px;
  border: none;
}

.coppy{

}